<content-type name="/plugins/weather-site-azilen/photos" is-wcm-type="true">
<label>Photo Gallery Page</label>
<form>/plugins/weather-site-azilen/photos</form>
<form-path>simple</form-path>
<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
<file-extension>xml</file-extension>
<content-as-folder>true</content-as-folder>
<previewable>true</previewable>
<noThumbnail>true</noThumbnail>
<image-thumbnail></image-thumbnail>
    <paths>
        <includes>
            <pattern>^/site/website/.*</pattern>
        </includes>
    </paths>
</content-type>