<content-type name="/plugins/blogs/blog-home" is-wcm-type="true">
<label>Page: Blog Home</label>
<form>/plugins/blogs/blog-home</form>
<form-path>simple</form-path>
<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
<file-extension>xml</file-extension>
<content-as-folder>true</content-as-folder>
<previewable>true</previewable>
<noThumbnail>false</noThumbnail>
<image-thumbnail>image.jpg</image-thumbnail>
<paths>
<includes>
<pattern>^/site/website/.*</pattern>
</includes>
</paths>

</content-type>